---
import Layout from '../../layouts/Layout.astro';
import Post from '../../components/Post.astro';
import { SITE } from '../../config';
---

<Layout title={SITE.title}>
  <!-- Main -->
  <div id="main">
    <header>
      <h1>Rafting- Day Trip</h1>
      <span class="image fit"><img src="images/rafting/rafting1.jpg" alt="" /></span>
    </header>
  </div>
</Layout>
