---
// import Layout from '../layouts/Layout.astro';
import Layout from '../../layouts/Layout.astro';
import Post from '../../components/Post.astro';
import { SITE } from '../../config';
---

<Layout title={SITE.title}>
  <!-- Main -->
  <div id="main">
    <header>
      <h1>Rishikesh – Capital of white water Rafting</h1>
      <span class="image fit"><img src="images/rafting/rafting1.jpg" alt="" /></span>
    </header>
    <section>
      <h3>History of rafting</h3>
      <p>
        It was the “Ocean to Sky” in 1977, expedition which evoked tremendous interest nationally and internationally
        about the potential of river sports in India. The jet boat expedition started in the Bay of Bengal, going up
        towards the river Ganges and on towards Nandprayag on the river Alaknanda. The age of river exploration in India
        took off when local river runners logged enough experience to join rafting expeditions. The Indian Armed Forces
        have also played a pivotal role in the development of river running in India, organizing training courses and
        leading expeditions.
      </p>
      <p>
        In 1984 , Avinash Kohli who introduced the White Water Rafting in Ganga. He started with a log raft in 1976 and
        built an industry that employs over 20,000 people in Rishikesh!
      </p>
      <div class="box alt">
        <div class="row gtr-50 gtr-uniform">
          <div class="col-7 col-12-small">
            <span class="image fit"><img src="images/rafting/rafting2.jpg" alt="" /></span>
          </div>
        </div>
      </div>
      <h3>Rafting trips in Ganga</h3>
      <p>
        Our rafting trips range from a gentle float to some of the world’s most exciting white waters. We will be happy
        to help you to select the river journey that suite your interest and requirement.
      </p>

      <h3>Ganges – class III & Class IV Rapids</h3>
      <p>
        These river running trips on the Ganges are one of the most famous and exciting in Rishikesh. Our experienced
        guide take you to rafting point to introduction of river, equipment and safety briefing which help you during
        river running. Our Initiation trip is an introduction with the white water rapids. Half Day trip includes three
        major rapids ie. “Return to Sender” (class II), “Roller coaster” (class III), “Golf Course” (class IV) with
        Initiation trip. More adventure with river can be experience with our Full Day trip which covers big rapids,
        “Daniel Dip” , “ The Wall “ “Three Blind Mice” and “ Cross Fire”. One can enjoy swimming, body surfing, cliff
        jumping during this river journey, lunch on the silver sand beach and much more. Our Deluxe full day trip is
        ideal for those acquainted with white water running which includes class IV+ rapids and off course delicious
        lunch which stimulate your energy levels for more adventure…
      </p>
    </section>

    <section>
      <h2>Itineraries</h2>
      <dl>
        <dt>Day Trip</dt>
        <dd>
          <p>
            It comprises of 15 km. stretch of river rafting from Shivpuri to Rishikesh. Lunch and a brief siesta on the
            beautiful beach assured of. It is mainly for those who want to have thrilling experience of river rafting
            within a short span of time amongst those glorious breathtaking sights which no amount of leisure could
            afford.
            <br />
            <a href="/rafting/day-trip">Read More...</a>
          </p>
        </dd>
        <dt>Overnight Trip</dt>
        <dd>
          <p>
            This one commences from Marine Drive and halt at Shivpuri for overnight stay in luxury Jungle tent of Deluxe
            hotel in Rishikesh. Next Morning, after breakfast, your tryst with river rafting continues till Rishikesh,
            in between lunch will be provided.
          </p>
        </dd>
        <dt>Two Days program</dt>
        <dd>
          <p>
            The program includes rafting, trekking/hiking and stay in camp. Campfire, jungle walk at night are other
            attraction. ( Meals and snacks will be provided.
          </p>
        </dd>
        <dt>Three Days Program</dt>
        <dd>
          <p>
            The program will have Rafting, Hiking and wildlife safari at Chilla - Rajaji nation Park, night stay in
            camp. ( Meals and snack will be provided).
          </p>
        </dd>
        <dt>River Expedition</dt>
        <dd>
          <p>
            The Alaknanda river flowing in Garhwal, is one of the tow head stream of Holy Ganga. The sourceof the
            Alaknanada is the conflounce of Satopanth glacier and Bhagirathi Khjarak glacier. Devprayag is the place
            where Alaknanda merges with Bhagirathi, coming from Gangotri Glacier to form Ganga, the sacred river of
            India. This beautiful river provided the breath taking view of several small and large mountain, town,
            village. The river at time clam, some time fiery and some time most gurgling down play full like a
            enthusiast youth
            <br />
            <a href="/rafting/river-expedition">Read More...</a>
          </p>
        </dd>
      </dl>
    </section>

    <section>
      <div class="row">
        <div class="col-6 col-12-small">
          <h3>Attractions</h3>
          <ul>
            <li>Rafting</li>
            <li>Body surfing</li>
            <li>Cliff jumping</li>
            <li>Camp fire</li>
            <li>Beach volleyball</li>
            <li>Rafting drill</li>
          </ul>
        </div>
        <div class="col-6 col-12-small">
          <h3>Rafting essentials</h3>
          <ul>
            <li>One pair of shorts</li>
            <li>One pair of T-shirt synthetic</li>
            <li>River sandal or crocs</li>
            <li>P- cap</li>
            <li>Socks</li>
            <li>Long pants or jeans</li>
            <li>Long – sleeved shirts</li>
            <li>Light fleece jackets. ( In winter time</li>
            <li>Keep two pair of under garments</li>
            <li>Small towel</li>
            <li>Personal Toiletries</li>
            <li>Sun class with strap</li>
            <li>Lip bam</li>
            <li>Sunscreen</li>
            <li>Camera ( Optional</li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</Layout>
