---
import Layout from '../../layouts/Layout.astro';
import Post from '../../components/Post.astro';
import { SITE } from '../../config';
---

<Layout title={SITE.title}>
  <!-- Main -->
  <div id="main">
    <header>
      <h1>Bike Tours</h1>
      <span class="image fit"><img height="10%" src="images/bike-tour/3.jpg" alt="" /></span>
    </header>
    <section>
      <h2>Overview</h2>
      <p>
        Uttarakhand has a very suitable place for riders. The Crookes roads, steep climb, dark turns, terrifying slops
        of Uttarakhand Himalaya are ready to take the tough test of the riders.
      </p>
      <p>
        <span class="image left"><img src="/images/bike-tour/6.jpg" alt="" /></span> Uttarakhand is a delightful state with
        beautiful valleys, sky – high mountains, rivers, large meadows spread over miles, sacred temples and cold desert
        is sure to enchant the riders. And The Adventure Journey organizes In addition, we design itinerary as per the convenience
        of the tourists. So that the tourist can move around according to there choice.
      </p>
      <p>We provide all kind of bikes on rental basis according rider’s demand.</p>
      <div class="row">
        <div class="col-6 col-12-small">
          <h3>Covered Places</h3>
          <ul>
            <li>Rishikesh</li>
            <li>Devprayag</li>
            <li>Kedarnath</li>
            <li>Chopta</li>
            <li>Auli</li>
            <li>Gorson</li>
            <li>Niti Valley</li>
            <li>Badrinath</li>
            <li>Mana</li>
            <li>Rudrapraya</li>
          </ul>
        </div>
        <div class="col-6 col-12-small">
          <h3>Attraction</h3>
          <ul>
            <li>White water Rafting</li>
            <li>A holy dip in the Ganges</li>
            <li>Camping</li>
            <li>Trekking</li>
            <li>Bonfire</li>
            <li>Darshan of Badrinath temple</li>
            <li>Beth in natural hot water spring pool</li>
          </ul>
        </div>
      </div>

      <h2>Itinerary</h2>
      <dl>
        <dt>Day 1</dt>
        <dd>
          <p>Arrival – Rishikesh.</p>
        </dd>

        <dt>Day 2</dt>
        <dd>
          <p>Morning after rafting trip to Pauri. – 110 kms.</p>
        </dd>

        <dt>Day 3</dt>
        <dd>
          <p>Pauri – Soneprayag - 138 kms.</p>
        </dd>

        <dt>Day 4</dt>
        <dd>
          <p>Sonepryag to Gaurikund 5 kms. Drive and further 18 kms. Trek. To Kedarnath.</p>
        </dd>

        <dt>Day 5</dt>
        <dd>
          <p>Kedarnath – 18 kms.trek down Gaurikund and 70 kms. Drive to Chopta.</p>
        </dd>

        <dt>Day 6</dt>
        <dd>
          <p>Chopta to Auli 148 kms. Ride.</p>
        </dd>

        <dt>Day 7</dt>
        <dd>
          <p>Auli – Gorson 3-4 kms. Trek – Auli – 38 kms drive – Lata village.</p>
        </dd>

        <dt>Day 8</dt>
        <dd>
          <p>Lata village – Niti village ( last villge on Tibet order) – Lata – 126 km. ( to &amp; fro)</p>
        </dd>

        <dt>Day 9</dt>
        <dd>
          <p>Lata village – Badrinath – Mana – 67 km. and will take 2 ½ hours.</p>
        </dd>

        <dt>Day 10</dt>
        <dd>
          <p>Badrinath - Rudraprayag. – 155 km. and takes 5 hours.</p>
        </dd>

        <dt>Day 11</dt>
        <dd>
          <p>Rudraprayag – Rafting camp Marine drive ( Rishikesh) – Rafting.</p>
        </dd>

        <dt>Day 12</dt>
        <dd>
          <p>
            Breakfast in camp and departure According to time scheduled for your return flight/train, drop at
            Airport/railway station.
          </p>
        </dd>
      </dl>
    </section>
    <section>
      <h2>Gallery</h2>
      <div class="row gtr-50 gtr-uniform">
        <div class="col-4">
          <span class="image fit"><img height="10%" src="images/bike-tour/1.jpg" alt="" /></span>
        </div>
        <div class="col-4">
          <span class="image fit"><img height="10%" src="images/bike-tour/2.jpg" alt="" /></span>
        </div>
        <div class="col-4">
          <span class="image fit"><img height="10%" src="images/bike-tour/4.jpg" alt="" /></span>
        </div>
        <!-- Break -->
        <div class="col-6">
          <span class="image fit"><img height="10%" src="images/bike-tour/5.jpg" alt="" /></span>
        </div>
      </div>
    </section>
  </div>
</Layout>
