---
import Layout from '../../layouts/Layout.astro';
import Post from '../../components/Post.astro';
import { SITE } from '../../config';
---

<Layout title={SITE.title}>
  <!-- Main -->
  <div id="main">
    <header>
      <h1>Biking in Pauri Garhwal</h1>
      <span class="image fit"><img height="10%" src="images/mtb/3.jpg" alt="" /></span>
    </header>
    <section>
      <p>
        If someone wants to do cycling in the mountains, then there is no suitable and beautiful place other than Pauri
        Garhwal. There are different types of cycle routes available for every type of cyclist whether it is Armature or
        Mature. Most riders prefer cycling on rough, descending and ascending routes and the beautiful hills of Pauri
        provide such kinds of routes so that the riders can be complacent.
      </p>

      <h2>Cycle Grading</h2>
      <dl>
        <dt>GRADE ONE : Very Easy</dt>
        <dd>
          <p>This type of cycle route is suitable for families and less adventurous tourists.</p>
        </dd>

        <dt>GRADE TWO: Easy</dt>
        <dd>
          <p>
            In this route, children of 10-12 years or those who do not have much riding experience can also try these
            kinds of routes.
          </p>
        </dd>

        <dt>GRADE THREE: Moderate</dt>
        <dd>
          <p>
            Children above 12 and riders of good fitness can go for this type of ride. The grade 3 routes would be off-
            road, ascending and descending riding which would be a challenge for the riders.
          </p>
        </dd>

        <dt>GRADE FOUR : Spontaneous</dt>
        <dd>
          <p>
            Only experienced riders go for these types of rides. Such rides go through very narrow, hilly bumpy roads.
            Sometimes riders also carry the bike on their shoulders to ride on these trails.
          </p>
        </dd>
      </dl>
      <span class="image fit"><img height="10%" src="images/mtb/2.jpg" alt="" /></span>

      <h3>Itinerary</h3>
      <dl>
        <dt>Day trip</dt>
        <dd>
          <p>
            We starts our trip early morning and finish it before lunch. Ride will be at least 30-40 kms. long. In this
            kind of trip we provides cycle, guide and breakfast.
          </p>
        </dd>

        <dt>Over night trip</dt>
        <dd>
          <p>
            We starts our ride after breakfast and camp for over night and return to Pauri. Ride will be at least 80-
            100 kms.<br />
            In this kind of trips we provide, cycle, 02 breakfast, 01 dinner and 02 lunch and 01 evening stacks and Camp
            fire. guide and jeep for road sorts.
          </p>
        </dd>

        <dt>02 nights and 03 days</dt>
        <dd>
          <p>
            Regular ride can try this kinds of trips. During riding one have to encounter with ascending - descending
            and rough roads. We provides cycle, meals ,guide and road support, camp fire as per the itinerary.
          </p>
        </dd>
      </dl>
      <p>
        <b>NOTE:</b> We provide even more longer cycle trip in Garhwal region. And our most popular trip starts from pauri
        to Corbett National Park ( Ram Nagar) and takes 02 nights and 3 days.
      </p>
    </section>
    <section>
      <h2>Gallery</h2>
      <div class="row gtr-50 gtr-uniform">
        <div class="col-6">
          <span class="image fit"><img height="10%" src="images/mtb/5.jpg" alt="" /></span>
        </div>

        <div class="col-6">
          <span class="image fit"><img height="10%" src="images/mtb/4.jpg" alt="" /></span>
        </div>
      </div>
    </section>
  </div>
</Layout>
